.imageField {
    width: 200px;
    height: 130px;
    border: 2px dashed #aaa;
    border-radius: 8px;
    background-image: url('../../../assets/pizzaIcon.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px 70px;
    cursor: pointer;
    padding: 10px;
    align-content: end;
    padding-bottom: 20px;
    background-color: #aaaaaa19;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 15px;
}

.itemFormContainer {
    border: 1px solid white;
    justify-self: center;
    padding: 30px;
    padding-top: 10px;
    border-radius: 14px;
}

.itemField {
    padding: 10px;
    display: flex;
    width: 300px;
    border-radius: 8px;
    border: 1px dotted black;


}

.label {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.addHeading {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    text-decoration: underline;
    margin-top: -4px;
}

.itemBtn {
    padding: 10px;
    margin: 10px;
    width: 140px;
    height: 50px;
    border-radius: 8px;
    border: 1px solid #ff2b85;
    background-color: #ff2b85;
    color: white;
    margin-bottom: -10px;
    margin-top: -3px;
}