.nav2 {
    display: flex;
    border: 1px solid none;
    background-color: #ffc0da33;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 70px;
}

.addBtn {
    font-size: 20px;
    width: 200px;
    height: 50px;
    border: none;
    background-color: #ff2b85;
    color: white;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 8px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow-y: auto;

}

.modal-box {
    background: #fff;
    padding: 20px;
    width: 400px;
    border-radius: 10px;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.mainBox {
    border: 1px solid rgb(255, 255, 255);
    margin: 50px;
    background-color: #7b81b333;
    background-image: radial-gradient(#7b81b3 1px, transparent 1px);
    background-size: 40px 40px;
    border-radius: 10px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}