.loginContainer {
    display: grid;
    justify-content: center;
}

.loginBtn {
    cursor: pointer;
    width: 410px;
    height: 48px;
    padding: 10px;
    border-radius: 8px;
    background-color: #e21b70;
    color: white;
    border: none;
}


.loginContent {
    margin-top: 80px;
    border: 1px solid #f9f9f9;
    background-color: #f9f9f9;
    justify-items: center;
    display: grid;
    gap: 20px;
    border-radius: 20px;
    padding: 40px;
    width: 400px;
}

@media (max-width:600px) {

    .loginContainer {
        padding: 20px;
        justify-content: center;
    }

    .loginContent {
        margin-top: 40px;
        width: 350px;
        padding: 25px
    }

    .loginBtn {
        width: 100%;
        height: 48px;
    }
}