.bodyContainer {
    width: 100%;
    height: 100vh;
    background-image: url("../../assets/chef.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.t {
    display: flex;
    align-self: center;
}

.t1 {
    font-size: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    margin-right: 15px;
}

.t2 {
    font-size: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: #ff2b85;
}


@media (max-width: 600px) {
    .bodyContainer {
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 15px 20px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .t1 {
        font-size: 16px;
    }

    .t2 {
        font-size: 16px;
    }
}