.inputField {
    width: 390px;
    min-height: 28px;
    padding: 10px;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 8px;
}

@media(max-width:600px) {
    .inputField {
        width: 300px;
    }
}