.bodyContent {
    max-width: 600px;
    margin-left: 350px;
    margin-top: 10px;
}

.formContainer {
    border: 1px solid rgb(226, 226, 226);
    background-color: white;
    justify-items: center;
    display: grid;
    gap: 20px;
    border-radius: 20px;
}

.registerBtn {
    cursor: pointer;
    width: 410px;
    height: 48px;
    padding: 10px;
    border-radius: 8px;
    background-color: #e21b70;
    color: white;
    border: none;
}

.dropDown {
    width: 410px;
    height: 48px;
    padding: 10px;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 8px;
}

form {
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

@media (max-width: 600px) {
    .bodyContent {
        margin-left: 20px;
        margin-right: 20px;
        width: auto;
        max-width: 410px;
    }

    .registerBtn,
    .dropDown {
        width: 320px;
        max-width: 410px;
    }
}